:root{
  --popular-color:#5e5e5e;
  --background:#fff;
}
.dark-theme{
  --popular-color:rgb(19, 19, 19);
  --background:#000;
}
.container{
  width: 100%;
  height: auto;
}
.breadcrum{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: var(--popular-color);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
    padding-left: 80px;
    text-transform: capitalize;
    background-color: var(--background);
    margin-top: 95px;
}
@media (max-width: 1000px) {
    .breadcrum{
      font-size: 18px;
      padding: 10px 35px;
      margin-top: 82px;
      background: yellow;
    }
    .breadcrum img{
        width: 5px;
        height: 20px;
    }
  }
@media (max-width: 730px) {
    .breadcrum{
      margin-top: 70px;
      font-size: 15px;
      background-color: red;
      padding: 10px 20px;
    }
}
@media (max-width: 650px) {
    .new-collections h1{
      font-size: 30px;
    }
      .collections{
        grid-template-columns: 1fr;
      }
}
